<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="danielymiguel.tiendamvp">

    <!-- Permiso de para poder comprobar si hay conexión a internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permiso de Internet para usar la API REST con Retrofit -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppContexto"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listaArticulos.ArticulosActivity"/>
        <activity android:name=".insertarArticulos.ArticuloPOSTActivity"/>
        <activity android:name=".articuloDetalle.ArticuloDetalleActivity"/>
        <activity android:name=".actualizarArticulo.ArticuloPUTActivity" />
    </application>

</manifest>